{% macro classroom(attachments) %}
{% for attachment in attachments %}
{% if attachment['lesson'] %}

<div class="row hidden-print">
    <div class="col-sm-12">
        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="opacity:0.3;background:black">
                {% for slide in attachment['lesson']['slides'] %}
                {% if loop.index0 == 0 %}
                <li data-target="#myCarousel" data-slide-to="{{loop.index0}}" class="active"></li>
                {% else %}
                <li data-target="#myCarousel" data-slide-to="{{loop.index0}}"></li>
                {% endif %}
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for slide in attachment['lesson']['slides'] %}
                    {% if loop.index0 == 0 %}
                    <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                    <img src="{{slide['image']}}"/>
                    <div class="carousel-caption" >
                        <p>{{slide['text']}}</p>
                    </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <script type="text/javascript">
            // Add touch functionality to Carousel
            $(".carousel").on("touchstart", function(event){
                var xClick = event.originalEvent.touches[0].pageX;
                $(this).one("touchmove", function(event){
                    var xMove = event.originalEvent.touches[0].pageX;
                    if( Math.floor(xClick - xMove) > 5 ){
                        $(".carousel").carousel('next');
                    }
                    else if( Math.floor(xClick - xMove) < -5 ){
                        $(".carousel").carousel('prev');
                    }
                });
                $(".carousel").on("touchend", function(){
                        $(this).off("touchmove");
                });
            });
            </script>
        </div>
        <div id="row_under_carousel">
            <div class="caption-below">
            <span></span>
            </div>
        </div>
        <script type="text/javascript">
            // Make captions render below the carousel
            $(function() {
                $('.carousel').carousel();
                var caption = $('div.item:nth-child(1) .carousel-caption');
                $('#row_under_carousel span').html(caption.html());
                caption.css('display','none');
                $(".carousel").on('slide.bs.carousel', function(evt) {
                    var caption = $('div.item:nth-child(' + ($(evt.relatedTarget).index()+1) + ') .carousel-caption');
                    $('#row_under_carousel span').html(caption.html());
                    caption.css('display','none');
                });
            });
        </script>
        <span class="skype-button bubble " data-bot-id="60beee5b-cb55-45c0-8ca1-7baf00220c97"></span>
        <script src="https://latest-swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
    </div>
</div>
{% endif %}
{% endfor %}
{% endmacro %}
